{% extends "manager/manager_base.html.twig" %}

{% block title %}Course Reports{% endblock %}

{% block content %}   
<section>
    <h3>List of courses</h3>
    <table>
    {# table head #}
    <tr><th>No</th><th>Course</th><th>Description</th><th>Active</th><th>Students</th><th>Completed</th></tr>

    {# list the courses #}             
    {% for course in courses %}
        <tr>
            <td>{{loop.index}}</td><td>{{course.name}}</td><td>{{course.description}}</td>
            {# display yes or no based on whether the course is active or not #}
            <td> {% if course.active == 1 %}Yes {% else %} No {% endif %}</td>
            <td>{{course.studentcount(course.id)}}</td>
            <td>{{course.completedstudentcount(course.id)}}</td>
        </tr>
    {% endfor %}
    </table>
</section>
{% endblock %}