{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block feedback %}
        {% for feed in feedback_positive %}
        <span class="feedback success">{{feed|e }}</span>
    {% endfor %}
        {% for feed in feedback_negative %}
        <span class="feedback failure">{{feed|e }}</span>
    {% endfor %}    

{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <p>
        Please fill the form to login...!!
    </p>

    <div class="login-default-box">
        <h1>Login</h1>
        <form action="{{URL}}login/signin" method="post">
                <label>Username (or email)</label>
                <input type="text" name="user_name" />
                <label>Password</label>
                <input type="password" name="user_password" required />
                <input type="checkbox" name="user_rememberme" class="remember-me-checkbox" />
                <label class="remember-me-label">Keep me logged in (for 2 weeks)</label>
                <input type="submit" class="login-submit-button" />
        </form>
        <a href="{{URL}}login/register">Register</a>
        |
        <a href="{{URL}}login/requestpasswordreset">Forgot my Password</a>
    </div>

{% endblock %}