{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block feedback %}
    {% for feed in feedback_positive %}
        <span class="feedback success">{{feed|e }}</span>
    {% endfor %}
    {% for feed in feedback_negative %}
        <span class="feedback failure">{{feed|e }}</span>
    {% endfor %}    
{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>Welcome to </h2>
        <p>Register to take a course</p>
        <div>
            <h1>Fill the form </h1>
            <form action="{{URL}}user/editSave" method="post">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <label>Email</label>
                    <input type="text" name="user_email" maxlength="64" required value="{{user.email}}"/><br>                
                    <label>Name</label>
                    <input type="text" name="user_name" maxlength="64" required value="{{user.name}}"/><br>
                    <label>Password</label>
                    <input type="text" name="user_password" maxlength="8" /><br>
                    <label>Age</label>
                    <input type="text" name="user_age" maxlength="2" required value="{{user.age}}"/><br>   
                    <label>Sex</label>
                    <input type="radio" name="user_sex" value="M" {% if (user.sex == 'M') %} checked {% endif %}>Male<br>
                    <input type="radio" name="user_sex" value="F" {% if (user.sex == 'F') %} checked {% endif %}>Female<br>

                    <label>Qualification</label>
                    <input type="text" name="user_qual" maxlength="20"  value="{{user.qualification}}"/><br>     
                    <label>Bio</label>
                    <textarea id="user_bio" name="user_bio" maxlength="255" cols="30" rows="8" 
                        placeholder="A small introduction about yourself, if any">{{user.bio}}</textarea><br>
                    <label>Phone</label>
                    <input type="text" name="user_phone" maxlength="15" value="{{user.phone}}"/><br>
                    <label>Mobile</label>
                    <input type="text" name="user_mobile" maxlength="15" value="{{user.mobile}}"/><br>
                    <label>Address</label>
                    <textarea id="user_address" name="user_address" maxlength="255" cols="10" rows="5" 
                        placeholder="Full postal address..">{{user.address}}</textarea><br>  
                    <label>Course Mode</label>
                    <input type="radio" name="user_course_mode" value="E" {% if (user.courseMode == 'E') %} checked {% endif %}>Email<br>
                    <input type="radio" name="user_course_mode" value="P" {% if (user.courseMode == 'P') %} checked {% endif %}>Postal<br>                         
                    <label>Anonymous (yes if checked)</label>
                    <input type="checkbox" name="user_anon" value="yes"  {% if user.anonymous %} checked {% endif %}><br><br><br>

                    <label>User type</label>
                    <select name="user_type" size="3">
                            <option value='S' {% if (user.type == 'S') %} selected {% endif %}>Student</option>
                            <option value='I' {% if (user.type == 'I') %} selected {% endif %}>Instructor</option>
                            <option value='M' {% if (user.type == 'M') %} selected {% endif %}>Manager</option>
                    </select> <br>
                    <label>Approved</label>
                    <input type="checkbox" name="user_approved" value="yes" {% if user.approved %} checked {% endif %} ><br> 
                    <label>Active</label>
                    <input type="radio" name="user_active" value="yes" {% if user.active %} checked {% endif %}>Active<br>
                    <input type="radio" name="user_active" value="no" {% if (user.active == false) %} checked {% endif %}>Inactive<br>                                      

                    <input type="submit" class="user-submit-button" />
            </form>
        </div>        

    </div>  <!-- end content -->

{% endblock %}