{% extends "manager/manager_base.html.twig" %}

{% block title %}Edit user{% endblock %}

{% block content %}
<section id="userform">
    <h2>Edit user</h2>
    <p>Please read the instructions for each field. All fields are required unless marked optional.</p>
    <div id="user_meta" class="right">User ID = {{user.id}}<br>User Created: {{user.created}}<br>User Lastlogin: {{user.lastlogin}}</div>
    <form action="{{URL}}user/editsave" method="post">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <label for="user_email">Email</label>
        <span class="desc">Enter a valid email. Please change email only if it is absolutely necessary.</span>
        <input type="email" name="user_email" id="user_email" maxlength="64" required value="{{user.email}}"/>                
        <label for="user_name">Name</label>
        <span class="desc">Specify full name here (only alphabets and spaces allowed for name)</span>
        <input type="text" name="user_name" id="user_name" maxlength="64" pattern="^[a-zA-Z][a-zA-Z ]{3,64}" required value="{{user.name}}"/>
        <label for="user_password">Password</label>
        <span class="desc">Leave it blank if password need not be changed</span>
        <input type="text" name="user_password" id="user_password" maxlength="8"/>
        <label for="user_age">Age</label>
        <span class="desc">Between 14 - 99</span>
        <input type="number" name="user_age" min="14" max="99"  id="user_age" maxlength="2" required value="{{user.age}}"/>   
        <label for="user_sex">Sex</label>
        <input type="radio" name="user_sex" id="user_sex_m" value="M" {% if (user.sex == 'M') %} checked {% endif %}>
        <label for="user_sex_m" class="option" >Male</label>
        <input type="radio" name="user_sex"  id="user_sex_f" value="F" {% if (user.sex == 'F') %} checked {% endif %}>
        <label for="user_sex_f" class="option" >Female</label>

        <label for="user_qual">Qualification</label>
        <span class="desc">(optional) It could be something like BA English, SSLC, CA and so.</span>
        <input type="text" name="user_qual"  id="user_qual"maxlength="20"  value="{{user.qualification}}"/>     
        <label for="user_bio">Bio</label>
        <textarea id="user_bio" name="user_bio" maxlength="255" cols="50" rows="8" 
            placeholder="A small introduction about the user, if any">{{user.bio}}</textarea>
        <label for="user_phone">Phone</label>
        <span class="desc">(optional)</span>
        <input type="text" name="user_phone" placeholder="Please include area code" id="user_phone" maxlength="15"
         value="{{user.phone}}"/>
        <label for="user_mobile">Mobile</label>
        <span class="desc">Either the phone or mobile should be specified</span>
        <input type="text" name="user_mobile" placeholder="Prepend 0 if that is required." maxlength="15" value="{{user.mobile}}"/>
        <label for="user_address">Address</label>
        <textarea id="user_address" name="user_address" maxlength="255" cols="30" rows="5" 
            placeholder="Full postal address..">{{user.address}}</textarea>

        <label for="user_type">User type</label>
        <span class="desc">User type cannot be changed if he/she is taking/teaching a course</span>
        <select name="user_type" id="user_type" size="4">
                <option value='S' {% if (user.type == 'S') %} selected {% endif %}>Student</option>
                <option value='I' {% if (user.type == 'I') %} selected {% endif %}>Instructor</option>
                <option value='M' {% if (user.type == 'M') %} selected {% endif %}>Manager</option>
        </select>             
        <label for="user_course_mode">Course Mode</label>
        <span class="desc">Applies only for student. By choosing Postal all correspondence (lesson delivery and assignment submission) shall be by post. By choosing Email it shall by through email</span>
        <input type="radio" name="user_course_mode" id="user_course_mode_e" value="E" {% if (user.CourseMode == 'E') %} checked {% endif %}>
        <label for="user_course_mode_e" class="option" >Email</label> 
        <input type="radio" name="user_course_mode" id="user_course_mode_p" value="P" {% if (user.CourseMode == 'P') %} checked {% endif %}>
        <label for="user_course_mode_p" class="option" >Postal</label>                         
        <label for="user_anon">Anonymous (yes if checked)</label>
        <span class="desc">Applies only for student. If checked his/her details will not be shown to his/her coursemates</span>
        <input type="checkbox" name="user_anon" id="user_anon" value="yes"  {% if user.anonymous %} checked {% endif %}>


        <label for="user_approved">Approved</label>
        <span class="desc">Users cannot login to the site until they are approved. Vandals can also be blocked from
            accessing the site by making them unapproved.</span>
        <input type="checkbox" name="user_approved" id="user_approved" value="yes" {% if user.approved %} checked {% endif %} > 

        <label>User status</label>
        <span class="desc">Active users are those who are using the system regularly. Those who have not used the system for longer periods can be maked Inactive.</span>
        <input type="radio" name="user_active" id="user_active_y" value="yes" {% if user.active %} checked {% endif %}>
        <label for="user_active_y" class="option" >Active</label>
        <input type="radio" name="user_active" id="user_active_n" value="no" {% if (user.active == false) %} checked {% endif %}> 
        <label for="user_active_n" class="option" >Inactive</label>                                      

        <input type="submit" class="submit-button" value="Edit user"/>
        <a href="{{LAST_URL}}">No, let me go back</a>
    </form>
</section>
{% endblock %}