{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block feedback %}
    {% for feed in feedback_positive %}
        <span class="feedback success">{{feed|e }}</span>
    {% endfor %}
    {% for feed in feedback_negative %}
        <span class="feedback failure">{{feed|e }}</span>
    {% endfor %}    
{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>The list of available users</h2>
        <p>This is the page of user..We will list the users here, for managers there will be the option to add new/edit and delete!!</p>
        <a href="{{URL}}user/add">Add a new user</a>
    
        <table>
            {# table head #}
            <tr><th>No</th><th>Name</th><th>ID</th><th>Email</th><th>Mobile</th><th>Type</th><th>Approved</th><th>Active</th><th>Anonymous</th><th>Actions</th></tr>

            {# list the users #}             
            {% for user in users %}
                <tr>
                    <td>{{loop.index}}</td><td>{{user.name}}</td><td>{{user.id}}</td>
                    <td>{{user.email}}</td><td>{{user.mobile}}</td>
                    <td>{% if user.type == 'S' %}Student{% elseif user.type == 'I' %}Instructor{% else %} Manager {% endif %}</td>
                    <td> {% if user.approved == 1 %}Yes {% else %} No {% endif %}</td>
                    <td> {% if user.active == 1 %}Yes {% else %} No {% endif %}</td>
                    <td> {% if user.anonymous == 1 %}Yes {% else %} No {% endif %}</td>
                    <td><a href="{{URL}}user/edit/{{user.id}}">Edit</a></td>
                    <td><a href="{{URL}}user/delete/{{user.id}}">Delete</a></td>                    
                </tr>
            {% endfor %}
        </table>

    </div>  <!-- end content -->

{% endblock %}