<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  Mobile Viewport Fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!--  IE fix for HTML 5 block level elements Fix -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->        

    <title>{% block title %}{# page specific title #}{% endblock %} - MalabarBibleCourses.org</title>
    <meta name="description" content="the description">

    <!-- css -->
    <link href="{{URL}}public/css/style.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- JavaScript -->
    <script src="{{URL}}public/js/application.js"></script>
    {% block head %} {# if anything more has to be added to head #} {% endblock %} 
</head>

<body>
    <header>
        <img class="headerimg" src="{{URL}}/public/img/header.jpg" height="250" width="980" alt="">

        <h1>Malabar Bible Courses</h1>
        <nav>
            <ul>
            {% block nav -%}
                <li><a href="http://www.malabarbiblecourses.org">Malabar Bible Courses</a></li>
                {# We will add the remaing links in the child template #}
            {% endblock %}                        
            </ul>               
        </nav>
    </header>

    <main>
        {% block login -%}
        <div id="loginblock">Welcome <span class="sess_info">{{SESSION_USER}}</span>, last login on <span class="sess_info">{{SESSION_LAST}}</span>&nbsp;
            <a href="{{URL}}/login/signout">Signout</a>
        </div>
    {% endblock %}
    
        {%- block news -%}{# any news to be posted, may be in future #}{% endblock %}

        {%- block feedback -%}{# the feedbacks #}    
            {% for feed in feedback_positive %}
                <span class="feedback success">{{feed}}</span>
            {% endfor %}
            {% for feed in feedback_negative %}
                <span class="feedback failure">{{feed}}</span>
            {% endfor %}     
            {# incase anything additional needed extend it in child template #}
        {% endblock %}

        {% block content %}{# the main content block #}{% endblock %}
    </main>
    
    <footer>
        {% block footer -%}
            &copy; Copyright 2015 by <a href="http://malabarbiblecourses.org/">Malabar Bible Courses</a>
        {% endblock -%}
    </footer>
</body>
</html>