{% extends "manager/manager_base.html.twig" %}

{% block title %}Enrol{% endblock %}

{# no feedback display needed here as this is just a confimation request page #}
{% block content %}
<section id="userform">
    <h2>Enrol student</h2>
    <summary id="user_meta">
        <p><span class="profile">ID :</span>{{student.id}}</p>
        <p><span class="profile">Student Name:</span> {{student.name}}</p>
        <p><span class="profile">Student Email:</span> {{student.email}}</p>
    </summary>

        <form action="{{URL}}manager/enrolsave" method="post">       
        <input type="hidden" name="student_id" value="{{student.id}}">
        <label for="course_id">Course</label>
        <span class="desc">Click on to select the course to enrol</span>
        <select name="course_id" id="course_id" size="4">
        {% for course in courses %}
            <option value="{{course.id}}" >{{course.name}}</option>
        {% endfor %}
        </select>                    
        <label for="instructor_id">Instructor</label>
        <span class="desc">Choose the instructor for the course for this student</span>
        <select name="instructor_id" id="instructor_id" size="4">
        {% for instructor in instructors %}
            <option value="{{instructor.id}}">{{instructor.name}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Enrol" class="submit-button" />
    </form>
</section>
{% endblock %}