{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block feedback %}
    {% for feed in feedback_positive %}
        <span class="feedback success">{{feed|e }}</span>
    {% endfor %}
    {% for feed in feedback_negative %}
        <span class="feedback failure">{{feed|e }}</span>
    {% endfor %}    
{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>Welcome to our application</h2>
        <p>This is the page of Manager..No one else should be able to touch here!!</p>
        <a href="{{URL}}course">Courses list</a><br>
        <a href="{{URL}}course/addcategory">Add a course category</a>
        <a href="{{URL}}course/add">Add a new course</a>

    </div>  <!-- end content -->

{% endblock %}