{% extends "manager/manager_base.html.twig" %}

{% block title %}Students{% endblock %}

{% block content %}
<section>
    <h2>The list of all students</h2>
    <table>
        {# table head #}
        <tr><th>No</th><th>Name</th><th>User ID</th><th>Email</th><th>Approved</th>
            <th>Active</th><th>Anonymous</th><th>Actions</th></tr>        
        {% for student in users %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{URL}}manager/viewstudent/{{student.id}}">{{student.name}}</a></td>
            <td>{{student.id}}</td>
            <td>{{student.email}}</td>
            <td> {% if student.approved == 1 %}Yes {% else %} No {% endif %}</td>
            <td> {% if student.active == 1 %}Yes {% else %} No {% endif %}</td>
            <td> {% if student.anonymous == 1 %}Yes {% else %} No {% endif %}</td>
            <td><a href="{{URL}}manager/viewstudent/{{student.id}}">View</a><br>
                <a href="{{URL}}user/edit/{{student.id}}">Edit</a></td>                   
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
