{% extends "manager/manager_base.html.twig" %}

{% block title %}Student profile{% endblock %}

{% block content %}
<section>
    <h2>Student profile</h2>
    <summary id="user_meta">
        <p><span class="profile">ID :</span>{{user.id}}</p>
        <p><span class="profile">Name :</span>{{user.name}}</p>
        <p><span class="profile">Email :</span>{{user.email}}</p>
        <p><span class="profile">Age :</span>{{user.age}}</p>
        <p><span class="profile">Sex :</span>{% if user.sex == 'M'%}Male{% else %}Female{% endif %}</p>
        <p><span class="profile">Phone :</span>{{user.phone}} , {{user.mobile}}</p>
        <p><span class="profile">Address :</span><pre>{{user.address}}</pre></p>
        <p><span class="profile">Anonymous :</span>{% if (user.anonymous) %} Yes {% else %} No {% endif %}</p>
        <p><span class="profile">Active :</span>{% if (user.active) %} Yes {% else %} No {% endif %}</p>
        <p><span class="profile">Approved :</span>{% if (user.approved) %} Yes {% else %} No {% endif %}</p>
        <p><span class="profile">CourseMode :</span>{% if user.coursemode == 'E'%}Email {% else %}Postal {% endif %}</p>
        <p><span class="profile">Registered on :</span>{{user.created}}</p>
    </summary>
    <a href="{{URL}}user/edit/{{user.id}}">Edit student profile</a><br>
    <a href="{{URL}}user/delete/{{user.id}}">Delete student</a>
</section>
<section>
    <h2>Courses</h2>
    <a href="{{URL}}manager/enrol/{{user.id}}/">Enrol for a new course</a>
    <span class="desc">Click on to enrol the student for a course and to assign an instructor</span>

    <h3>Enrolled courses</h3>
    <table>
    {# table head #}
    <tr><th>No</th><th>Course</th><th>Instructor</th><th>Joined</th><th>Status</th><th>Actions</th></tr>
    {# list the users #}             
    {% for  courseInstance in user.mycourses %}
        <tr>
            <td>{{loop.index}}</td><td>{{courseInstance.course.name}}</td><td>{{courseInstance.instructor.name}}</td><td>{{courseInstance.joindate}}</td>
            <td>{% if courseInstance.status == 'A' %}Active{% elseif courseInstance.status == 'I' %}Inactive
                {% else %}Completed{% endif %}</td>
            <td><a href="{{URL}}manager/editenrol/{{user.id}}/{{courseInstance.course.id}}">Edit</a><br>
            <a href="{{URL}}manager/disenrol/{{user.id}}/{{courseInstance.course.id}}">Disenrol</a></td>
        </tr>
    {% endfor %}
    </table>
    <p>The list of courses currently enrolled by the student are displayed above. Click on 'Edit' to change the Instructor or to make a course Completed/Inactive.</p>        
</section>
{% endblock %}