{% extends "student/student_base.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<section class="dash">
    <h2>Dashboard</h2>
        <summary id="user_meta">
            <p><span class="profile">Name :</span>{{user.name}}</p>
            <p><span class="profile">Email :</span>{{user.email}}</p>
            <p><span class="profile">Phone :</span>{{user.phone}} , {{user.mobile}}</p>
            <p><span class="profile">CourseMode :</span>{% if user.coursemode == 'E'%}Email {% else %}Postal {% endif %}</p>
            <p><span class="profile">Registered on :</span>{{user.created}}</p>
        </summary>
        <a href="{{URL}}profile/edit">Edit my profile</a><br>
        <a href="{{URL}}profile/changepassword">Change my password</a>
</section>
<section class="dash">          
    <h2>Your courses</h2>
    All of your present and completed courses are listed below.
    Courses are marked 'Inactive' if you failed to submit assignments in time.<br>
    Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> to join for a new course.
    <table>
        {# table head #}
        <tr><th>No</th><th>Course</th><th>Instructor</th><th>Joined</th><th>Status</th><th>Actions</th></tr>

        {# list the users #}             
        {% for  courseInstance in user.getMyCourses %}
            <tr>
                <td>{{loop.index}}</td><td>{{courseInstance.course.name}}</td><td>{{courseInstance.instructor.name}}</td>
                <td>{{courseInstance.joindate}}</td>
                <td>{% if courseInstance.status == 'A'%}Active{% elseif courseInstance.status == 'I' %}Inactive
                    {% else %}Completed{% endif %}</td>
                <td><a href="{{URL}}student/showcoursemates/{{courseInstance.course.id}}">Show course mates</a></td>
            </tr>
        {% endfor %}
    </table>
</section>
<section class="dash">
    <h2>Assignments</h2>    
    <a href="{{URL}}assignment/upload">Upload a new assignment</a>
        <table>
        {# table head #}
        <tr><th>No</th><th>Assignment</th><th>Course</th><th>Date</th></tr>

        {# list the users #}             
        {% for  assignment in assignments %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="{{URL}}assignment/download/{{assignment.id}}?f={{assignment.linkfile}}&n={{assignment.filename}}">{{assignment.filename}}</a></td>
                <td>{{assignment.course.name}}</td>
                <td>{{assignment.date}}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{URL}}assignment/upload" method="post"  enctype="multipart/form-data">
        <label for="assignmentfile">Select assignment file</label>
        <input type="file" name="assignmentfile" id="assignmentfile" accept=".doc,.txt,.pdf,.docx,.xml"/>
        <input type="submit" name='submit' value="Upload Assignment" />
    </form>
</section>
{% endblock %}
