{% extends "layout.html.twig" %}
{% block nav %}
	{{ parent() }}
	<li><a href="{{URL}}student">Home</a></li>
    <li><a href="{{WWW}}courses">Courses</a></li>
	<li><a href="{{WWW}}">Instructors</a></li>
	<li><a href="{{WWW}}">Forum</a></li>
{% endblock %}