{% extends "manager/manager.html.twig" %}

{% block title %}Edit course{% endblock %}

{% block content %}
<section id="courseform">
    <h2>Edit the course </h2>
    <form action="{{URL}}course/editsave" method="post">
        <input type="hidden" name="course_id" value="{{course.id}}">
        <label for="course_name">Course Name</label>
        <span class="desc">Course name should be concise. The use of spaces, numbers and underscore allowed.</span>
        <input type="text" name="course_name" maxlength="25"  id="course_name" 
            pattern="^[a-zA-Z0-9][a-zA-Z0-9_ ]{0,25}"  value = "{{course.name}}" required/>
        <label for="course_desc">Description</label>
        <textarea id="course_desc" name="course_desc" maxlength="255" cols="50" rows="5" 
        placeholder="A small description about the course, if any">{{course.description}}</textarea>
        <label for="course_cat">Course Category</label>
        <select name="course_cat" id="course_cat" size="4">
            {% for category in categories %}
                <option value="{{category.id}}" {% if category.id == course.category.id %}
                    selected {% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>    
        <label for="course_active">Active/Inactive (Active if checked)</label>
        <span class="desc">A course can be made ''Inactive' if it is no longer taught. <br>
            Note that courses currently taken by students cannot be marked 'Inactive'</span>
        <input type="checkbox" name="course_active" id="course_active" value="yes" {% if course.active == 1 %} checked {% endif %}>                    
        <input type="submit" class="submit-button" value="Edit course"/>
    </form>
</section>
{% endblock %}